@using OpenAIProject.Models
@model ImageGenerationAI

<h2>Image Generator</h2>

@(
Html.DevExtreme().DataGrid<ImageGenerationAI>()
    .ShowBorders(true)
    .DataSource(_ => _
        .Mvc()
        .Controller("ImageGenerationWebAPI")
        .LoadAction("GetImages")
        .InsertAction("Post")
        .Key("Id"))
    .Columns(_ =>
    {
        _.AddFor(_ => _.Prompt)
            .EditorOptions(new
            {
                placeholder = "Enter a prompt here...",
            });
        _.AddFor(_ => _.Image)
            .Caption("Generated Image")
            .AllowEditing(false)            
            .EditorOptions(new
            {
                placeholder = "Will be generated",
                width = 300,
            })
            .Width(300);
    })
    .Paging(_ => _.PageSize(10))
    .RemoteOperations(true)
    .Editing(_ => _
        .Mode(GridEditMode.Form)
        .UseIcons(true)
        .Texts(_ => _.AddRow("Generate an image"))
        .AllowAdding(true)
        .RefreshMode(GridEditRefreshMode.Reshape)
        )
    .WordWrapEnabled(true)
    .Toolbar(toolbar =>
    {
        toolbar.Items(_ => _
            .Add()
            .Name("addRowButton")
            .ShowText(ToolbarItemShowTextMode.Always)
        );
    })
)