.dx-datagrid-rowsview dx-empty {
    visibility: hidden;
    display: none;
}

.dx-datagrid-headers {
    display: none;
    visibility: hidden;
}

.dx-datagrid-content {
    display: none;
    visibility: hidden;
}