@using OpenAIProject.Models

<h2>Chats</h2>

@(
Html.DevExtreme().DataGrid<ChatGPTMessage>()
    .ShowBorders(true)
    .DataSource(_ => _
        .Mvc()
        .Controller("ChatGPTWebAPI")
        .LoadAction("GetChats")
        .InsertAction("Post")
        .Key("id"))    
    .Columns(_ =>
    {
        _.AddFor(_ => _.role)
            .AllowEditing(false)
            .EditorOptions(new
            {
                placeholder = "user",
                width = 100,
            })
            .Width(100);
        _.AddFor(_ => _.content)
            .Caption("Question/Answer")
            .EditorOptions(new
            {
                placeholder = "Ask a question here...",
                width = "max",
            });
    })
    .Paging(_ => _.PageSize(10))
    .RemoteOperations(true)
    .Editing(_ => _
        .Mode(GridEditMode.Form)
        .UseIcons(true)
        .Texts(_ => _.AddRow("Ask Question"))
        .AllowAdding(true)
        .RefreshMode(GridEditRefreshMode.Reshape)
        )
    .WordWrapEnabled(true)
    .Toolbar(toolbar =>
    {
        toolbar.Items(_ => _
            .Add()
            .Name("addRowButton")
            .ShowText(ToolbarItemShowTextMode.Always)
        );
    })
)
